body {
   font-family:"trebuchet ms",sans-serif;
   font-size:100%; 
   /*background-image: url("C:\wamp64\www\projet_industriel/toto.jpg");*/
   background-color: #cccccc;
   background-repeat: no-repeat;   
   background-size: 101%, 100%;
}

form {
 background-color:transparent;
 padding:10px;
 width:100%;
 color: black;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #FFF3F3;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 color: black;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

input[type=submit], input[type=reset] {
    width: 100px;
    margin-left: 5px;
    box-shadow: 1px 1px 1px #D83F3D;
    cursor: pointer;
}

form.html:34
input, textarea, select {
    padding: 3px;
    border: 1px solid #F5C5C5;
    border-radius: 5px;
    width: 200px;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

 div#formu1
 {
   position: relative;
   margin-left: 2%;

 }
  div#formu
 {
   position: relative;
   margin-left: 84%;
   
 }
.btn-default
{
   width: 100px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0865BE;
    cursor: pointer;
}

.thumbnail{
    display:block;
    padding:4px;
    margin-right: 1%
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out
}

.media-object.img-thumbnail{
    max-width:none
}


.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-right:20px;
    padding-left:0px
}

@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }

        .col-md-4{
        width:31.33333333%
    }

        .col-md-12{
        width:100%
    }
}

img{
    border:0
}

img,tr{
        page-break-inside:avoid
    }

img{
        max-width:100%!important
    }

    div#caption {
      margin-left: 10%;
    }

    div#container-fluid {
      margin-right: -3%;
    }